.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.roll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

#refreshButton {
  
  text-align: center;
  padding: 15px;
  background-color: green;
  color: white;
  font-size: large;
  border-radius: 15px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width: 1000px) {

 
  
  .dice {
    display: block;
    margin-top: 0.5em;
  }

  p {
    font-size: 3em;
  }


  #refreshButton {
    font-size: 3em;
    padding: 0.5em;
  }

  footer {
    font-size: 3em;
  }

}

@media (max-width: 500px) {
  h1 {
    font-size: 10em;
    
  }

  .dice {
    display: block;
  }

  p {
    font-size: 3em;
  }

  #refreshButton {
    font-size: 3em;
    padding: 0.5em;
  }

  footer {
    font-size: 3em;
  }
}

